@model LogInViewModel
@{
    ViewData["Title"] = "LogIn";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
	<div class="agileits-top">
		<form asp-action="LogIn">
			<div asp-validation-summary="ModelOnly"></div>
			<input class="text email" asp-for="Email" placeholder="Email" required="">
			<input class="text" asp-for="Password" placeholder="Password" required="">
			<div class="wthree-text">
				<label class="anim">
					<input asp-for="RememberMe" class="checkbox" required="">
					<span>Remember Me</span>
				</label>
				<div class="clear"> </div>
			</div>
			<input type="submit" value="SIGNIP">
		</form>
		<p>Do you have an Account? <a asp-action="Register"> Register Now!</a></p>
		<p><a asp-action="ForgetPassword" class="text-success"> Forget Password!</a></p>
	</div>
</div>

@section Scripts{
      <partial name ="_ValidationScriptsPartial"/>
}