@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
<div class="main-agileinfo">
	<div class="agileits-top">
		<form asp-action="ResetPassword">
			<div asp-validation-summary="ModelOnly"></div>
			<input class="text" asp-for="NewPassword" placeholder="Password" required="">
			<input class="text w3lpass" asp-for="ConfirmPassword" placeholder="Confirm Password" required="">
			<input type="submit" value="Reset Password">
		</form>
	</div>
</div>
<!-- copyright -->

@section Scripts{
			   <partial name ="_ValidationScriptsPartial"/>
}


